<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Projeto DW2</title>
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/estilo.css">
<style>
body {
     padding-top: 0; 
}
.jumbotron{
height: 17em;
}
#wrap {
    min-height: 85vh;
}
</style>
</head>
<body>


	<div id="wrap">



		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>HelpDesk</h1>
			</div>
		</div>

		<!-- Begin page content -->
		<main class="container">
		<div th:if="${erro!=null}" class="alert alert-danger" role="alert"
			th:text="${erro}">...</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<form id="login-form" action="/login/" method="post" role="form"
					style="display: block;">
					<div class="form-group">
						<input type="text" name="username" id="username" tabindex="1"
							class="form-control" placeholder="Usuário" value="">
					</div>
					<div class="form-group">
						<input type="password" name="senha" id="senha" tabindex="2"
							class="form-control" placeholder="Senha">
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									tabindex="4" class="form-control btn btn-login" value="Entrar">
							</div>
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
	</main>

	<footer id="footer">
		<div class="container">
			<div class="col-md-5">
				<p class="margin-footer-text">
					&copy; 2017 Instituto Federal de São Paulo campus São Carlos.<br>
					Email: <a href="mailto:contato@ifsp.edu.br">contato@ifsp.edu.br</a>.
				</p>
			</div>
			<div class="col-md-5 col-md-offset-2">
				<address class="margin-footer-text">
					Estrada Municipal Paulo Eduardo de Almeida Prado - São Carlos - SP
					<br> Endereço para Correspondência: Rodovia Washington Luís,
					km 235 <br> Bairro Monjolinho - CEP 13.565-905 - São Carlos -
					SP
				</address>
			</div>
		</div>
	</footer>
	</div>


	<script type="text/javascript"
		src="/bootstrap-3.3.7/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript"
		src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/formLoginRegistro.js"></script>
</body>
</html>