<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bootstrap-3.3.7/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../css/estilo.css">
<style>
dl {
	display: block;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

dt {
	margin-bottom: 1em;
	margin-left: 1em;
}
</style>
</head>
<body>
	<div id="wrap">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"> HelpDesk</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:text="${usuario}">@Usuario</a></li>
						<li><a href="/login/logout">Sair</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">

			<input name="id" value="0" />
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">

						<li><a href="/">Chamados</a></li>
						<li th:if="${session.usuario.tipoUsuario.equals('Administrador')}"><a
							href="/usuario">Usuário</a></li>
					</ul>

				</div>


				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					<a href="/">Voltar</a>
					<h2>
						Chamado <small th:text="${'#'+model.id}"></small>
					</h2>
					<hr />

					<dl>
						<dd>Categoria:</dd>
						<dt th:text="${model.categoria}"></dt>
						<dd>Assunto:</dd>
						<dt th:text="${model.assunto}"></dt>
						<dd>Descrição:</dd>
						<dt th:text="${model.descricao}"></dt>
						<dd>Notas:</dd>
						<dt th:text="${model.nota}"></dt>
					</dl>
					</form>
				</div>

			</div>

		</div>
	</div>

	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/datatable.js"></script>
</body>
</html>