<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bootstrap-3.3.7/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../css/estilo.css">

</head>
<body>
	<div id="wrap">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin"> HelpDesk</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:text="${usuario}"></a></li>
						<li><a href="/login/logout">Sair</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">

						<li><a href="/admin/">Chamados</a></li>
						<li><a href="/usuario/">Usuário</a></li>
				</div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<h2 class="sub-header">Chamados</h2>
					<div class="table-responsive">
						<table id="tabela" class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Categoria</th>
									<th>Assunto</th>
									<th>Descrição</th>
									<th>Status</th>
									<th with="100"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="modelo : ${model.fila}">
									<td th:text="${modelo.id}">1,001</td>
									<td th:text="${modelo.categoria}">Lorem</td>
									<td th:text="${modelo.assunto}">ipsum</td>
									<td th:text="${modelo.descricao}">dolor</td>
									<td th:text="${modelo.status}">sit</td>
									<td with="100">
										<table>
											<tr>
											<td width="50"><a
											th:href="@{'/admin/detalhes?id='+${modelo.id}}"
											class="btn btn-info" style="margin-right: 7px">Detalhes</a></td> 
												<td width="70"><a
													th:if="${session.usuario.tipoUsuario.equals('Tecnico')}"
													th:href="@{'/tecnico/bloquear?id='+${modelo.id}}"
													class="btn btn-primary" type="submit">Bloquear</a> <a
													th:if="${session.usuario.tipoUsuario.equals('Administrador') && modelo.status=='Aberto'}"
													th:href="@{'/admin/editar?id='+${modelo.id}}"
													class="btn btn-primary">Editar</a></td>
												<td width="70"><a
													th:if="${session.usuario.tipoUsuario.equals('Administrador') && modelo.status!='Bloqueado'}"
													th:href="@{'/admin/excluir?id='+${modelo.id}}"
													class="btn btn-danger">Excluir</a></td>
											</tr>
										</table>

									</td>
								</tr> 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>



</div>
<script type="text/javascript"
		src="../bootstrap-3.3.7/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript"
		src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
		src="../bootstrap-3.3.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
		src="../bootstrap-3.3.7/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../js/datatable.js"></script>
</body>
</html>