<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<link rel="stylesheet" href="../bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bootstrap-3.3.7/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div id="wrap">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"> HelpDesk</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:text="${usuario}">@Usuario</a></li>
						<li><a href="/login/logout">Sair</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container-fluid">

			<input name="id" value="0" />
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">

						<li><a href="/">Chamados</a></li>
						<li th:if="${session.usuario.tipoUsuario.equals('Administrador')}"><a
							href="/usuario">Usuário</a></li>
					</ul>

				</div>


				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<a href="/">Voltar</a>
					<form method="Post" class="form-horizontal">
						<h2>
							Chamado <small th:text="${'#'+model.id}"></small>
						</h2>
						<hr/>
						<div class="form-group">
							<div class="col-md-4">
								<label for="nome">Categoria </label> <select
									class="form-control" name="categoria"
									th:value="${model.categoria}">

									<option value="Software"
										th:selected="${model.categoria == 'Software'}">Software</option>
									<option value="Hardware"
										th:selected="${model.categoria == 'Hardware'}">Hardware</option>
									<option value="Redes"
										th:selected="${model.categoria == 'Redes'}">Redes</option>


								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-4">
								<label for="Assunto">Assunto:</label> <input
									class="form-control" type="text" name="assunto" size="40"
									th:value="${model.assunto}" /><br /> <br />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-4">


								<label for="Descrição">Descrição: </label>
								<textarea id="Descrição" name="descricao" class="form-control"
									rows="6" cols="60" th:text="${model.descricao}"></textarea>

							</div>
						</div>
						<div class="form-group" th:if="${session.usuario.tipoUsuario.equals('Tecnico')}">
							<div class="col-md-4">

								<label for="notas">Notas: </label>
								<textarea id="Notas" name="notas" class="form-control" rows="6"
									cols="60" th:text="${model.nota}"></textarea>

							</div>
						</div>
						<button class="btn btn-Salvar" type="submit"
							th:text="${session.usuario.tipoUsuario.equals('Administrador')? 'Salvar':'Finalizar'}">Salvar</button>
				</div>
				</form>
			</div>

		</div>

	</div>
	</div>

	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="../bootstrap-3.3.7/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/datatable.js"></script>
</body>
</html>